:root{
    --dark-blue: #20273f;
    --red: #e81f3e;
    --gray:  #7c859a;
    --dark-blue-2: #171e36;
    --background: #f5f5f5;
    --border-items: #e1e1e1;
    --yellow: #ffcb05;
    --blue: #1877f2;
    --overlay-color: #00000066;
    --dark-blue-3:#212529;
    
}